#root {
  height: 100vh;
  background-image: url('./assets/bg.PNG');
}

.page-container {
  padding: 16px;
}

.main-container {
  padding: 8px;
  display: flex;
  justify-content: center;
}

.option-circle {
  background-color: #fff;
  border-radius: 50%;
  height: 60px;
  min-width: 60px;
  box-shadow: 0px 1px 9px 2px rgb(0 0 0 / 5%);
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-page {
  display: flex;
  flex-direction: column;
}

.row-container {
  display: flex;
  gap: 16px;
  margin: 14px 0px;
  justify-content: center;
}

.form-container {
  margin-top: 50px;
  display: flex;
  gap: 28px;
}

@media (max-width: 400px) {
  .form-container {
    flex-direction: column;
  }
}

.form-inner {
  display: block;
}

.gram-value {
  font-weight: bold;
  font-size: 20px;
}

.result-row {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
